body {
    background: #4c535d !important;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #2c89ba;
    text-decoration: none;
}

a:hover {
    color: #174963;
    text-decoration: underline;
}

ul {
    padding: 0;
}

li {
    border-bottom: 1px solid #eaeaea;
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

li:last-child {
    border: 0;
    margin: 0;
    padding: 0;
}

.page {
    background-color: #fff;
    border-radius: 5px;
    margin: 40px auto;
    padding: 20px 40px 40px 40px;
    width: 700px;
}
.pageAdmin {
    background-color: #fff;
    border-radius: 5px;
    margin: 40px auto;
    padding: 20px 40px 40px 40px;
    width: 1000px;
}

input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

button {
    background-color: #2c89ba;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}


#flash-message {
    background-color: #2c89ba;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 10px 20px;
}


.logout {
    font-size: 14px;
    float: right;
    background-color: #2c89ba;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}

.request{
    font-size: 14px;
    float: left;
    background-color: #2c89ba;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}

.back {
    font-size: 14px;
    background-color: #2c89ba;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer{
    text-align: center;
    font-size:11px;
}


.box {
    border: 2px solid #2c89ba;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 15px;
}
.boxEditUser {
    border: 1px dotted grey;
    margin-top:20px;
    margin-bottom:20px;
    padding: 10px;
    border-radius: 15px;
}
.center {
    display: flex;
    justify-content: center;
}

.reports {
    font-size: 14px;
    float: left;
    background-color: #2c89ba;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
 }
 .container {

       margin-top:20px;
       margin-bottom:20px;
  }
  .card{
  border: 1px solid transparent !important;
  }

     form{
         padding-top: 10px;
         font-size: 14px;
         margin-top: 30px;
     }
     .card-title{ font-weight:300; }
     .btn{
         font-size: 14px;
         margin-top:20px;
     }
     }
     .login-form{

         margin:20px;
     }
     .sign-up{
         text-align:center;
         padding:20px 0 0;
     }