{{#partial "content"}}
    <div class="container">
        <h3 class="card-title text-center">Hello, {{adminName}}!  <a href="/admin/edit/" class="btn-sm" ><i class="fa fa-edit" style="font-size:19px" ></i></a></h3><br>
        <h4 class="card-title text-center">Annual Leave Requests:</h4><br>
        <form action="/admin/" method="post">
            <table class="table table-striped">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Days</th>
                    <th scope="col">Type</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Action</th>
                    <th scope="col">Document</th>
                </tr>
                {{#each requestList}}
                    <tr><td>{{this.user.username}}</td> <td>{{this.startDate}}</td> <td>{{this.endDate}}</td> <td>{{this.days}}</td> <td>{{this.type}}</td>
                        <td> <input name="reason" placeholder="Add Reason" type="text"></td>
                        <td>
                            <button type="submit" name="approveId" value="{{this.id}}" class=" btn-success btn-sm" ><i class="fa fa-check"></i></button>
                            <button type="submit" name="rejectId" value="{{this.id}}" class="btn-danger btn-sm"><i class="fa fa-times"></i></button></td>
                        <td><a href="/admin/files{{this.filePath}}"  class="btn-lg"><i class="fa fa-download" aria-hidden="true"></i></a></td></tr>
                {{/each}}
            </table>
        </form>

        <div class="card-text">
            <form action="/admin/" method="post">
                <div class="center">
                    <a class="btn btn-primary" href="/admin/schedules/view/">Schedule</a>
                </div>
                <div class="center">
                    <a class="request btn btn-primary" href="/admin/schedules/create/">Create schedule</a>
                </div><br>
            </form>
            <div class="form-group">
                <a class="logout btn btn-primary" href="/logout/"> Logout </a>
                <a class="reports btn btn-primary" href="/admin/reports/"> Report </a>
            </div><br>
        </div>
    </div>

{{/partial}}
{{> base-2.hbs}}