{{#partial "content"}}
<body>
<div class="container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Reset Password</h3>
            <div class="card-text">
                <form action="/changePassword/" method="post">
                    <input type="hidden" name="token" value="{{token}}">
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <label for="pass">New Password</label>
                        <input type="password" class="form-control form-control-sm" id="pass" name="password" placeholder="Password must be greater than 8 symbols" required="required">
                    </div>
                    <div class="form-group">
                        <label for="pass">Repeat Password</label>
                        <input type="password" class="form-control form-control-sm" id="pass1" name="confirm_password" placeholder="Confirm Password" required="required">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<div class="signup-form">-->
<!--    {{#if flash_message}}-->
<!--        <p id="flash-message">{{ flash_message }}</p>-->
<!--    {{/if}}-->
<!--    <form action="/changePassword/" method="post">-->
<!--        <input type="hidden" name="token" value="{{token}}">-->
<!--        <div class="form-group">-->
<!--            <input type="password" class="form-control" name="password" placeholder="Password must be greater than 8 symbols" required="required">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
</body>
{{/partial}}

{{> base.hbs}}
