{{#partial "content"}}
    {{nothing}}
    <html>
    <div class="container">
        <a class="back btn btn-primary" href="/admin/"> Back</a><br><br>
        <h3 class="card-title text-center">Create Schedule</h3>
        <form action="/admin/schedules/create/" method="post">
        <table class="table table-striped">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Action</th>
        </tr>
    {{#each listUsers}}
       <tr><td>{{this}}</td> <td><input type="date" name="{{this}}"></td>  <td><input type="date" name="{{this}}2"></td> <td><button class="btn-primary btn-sm" type="submit"> Submit </button></td> </tr>
<!--        <tr><td>{{this}}</td> <td><input name="{{this}}" type="text"/></td>  <td><input name="{{this}}2" type="text"/></td> <td><button class="btn btn-primary btn-sm" type="submit"> Submit </button></td> </tr>-->
    {{/each}}
        </table>
<!--    <button type="submit"> Submit</button>-->
<!--    </form>-->
        </form>
    </div>


<!--    <script id="rendered-js">-->
<!--    var bindDateRangeValidation = function (f, s, e) {-->
<!--        if (!(f instanceof jQuery)) {-->
<!--            console.log("Not passing a jQuery object");-->
<!--        }-->

<!--        var jqForm = f,-->
<!--            fromId = s,-->
<!--            toId = e;-->

<!--        var checkDateRange = function (from, to) {-->
<!--            var isValid = from != "" && to != "" ? from <= to : true;-->
<!--            return isValid;-->
<!--        };-->

<!--        var bindValidator = function () {-->
<!--            var bstpValidate = jqForm.data('bootstrapValidator');-->
<!--            var validateFields = {-->
<!--                from: {-->
<!--                    validators: {-->
<!--                        notEmpty: { message: 'This field is required.' },-->
<!--                        callback: {-->
<!--                            message: 'Start Date must less than or equal to End Date.',-->
<!--                            callback: function (from, validator, $field) {-->
<!--                                return checkDateRange(from, $('#' + toId).val());-->
<!--                            } } } },-->



<!--                to: {-->
<!--                    validators: {-->
<!--                        notEmpty: { message: 'This field is required.' },-->
<!--                        callback: {-->
<!--                            message: 'End Date must greater than or equal to Start Date.',-->
<!--                            callback: function (to, validator, $field) {-->
<!--                                return checkDateRange($('#' + fromId).val(), to);-->
<!--                            } } } },-->



<!--                customize: {-->
<!--                    validators: {-->
<!--                        customize: { message: 'customize.' } } } };-->



<!--            if (!bstpValidate) {-->
<!--                jqForm.bootstrapValidator({-->
<!--                    excluded: [':disabled'] });-->

<!--            }-->

<!--            jqForm.bootstrapValidator('addField', fromId, validateFields.from);-->
<!--            jqForm.bootstrapValidator('addField', toId, validateFields.to);-->

<!--        };-->

<!--        var hookValidatorEvt = function () {-->
<!--            var dateBlur = function (e, bundleDateId, action) {-->
<!--                jqForm.bootstrapValidator('revalidateField', e.target.id);-->
<!--            };-->

<!--            $('#' + fromId).on("dp.change dp.update blur", function (e) {-->
<!--                $('#' + toId).data("DateTimePicker").setMinDate(e.date);-->
<!--                dateBlur(e, toId);-->
<!--            });-->

<!--            $('#' + toId).on("dp.change dp.update blur", function (e) {-->
<!--                $('#' + fromId).data("DateTimePicker").setMaxDate(e.date);-->
<!--                dateBlur(e, fromId);-->
<!--            });-->
<!--        };-->

<!--        bindValidator();-->
<!--        hookValidatorEvt();-->
<!--    };-->


<!--    $(function () {-->
<!--        var sd = new Date(),ed = new Date();-->

<!--        $('#from').datetimepicker({-->
<!--            minDate: new Date(),-->
<!--            pickTime: false,-->
<!--            format: "YYYY/MM/DD",-->
<!--            defaultDate: sd});-->


<!--        $('#to').datetimepicker({-->
<!--            pickTime: false,-->
<!--            format: "YYYY/MM/DD",-->
<!--            defaultDate: ed,-->
<!--            minDate: sd });-->


<!--        //passing 1.jquery form object, 2.start date dom Id, 3.end date dom Id-->
<!--        bindDateRangeValidation($("#form"), 'from', 'to');-->
<!--    });-->
<!--    //# sourceURL=pen.js-->

<!--    </script>-->
    </html>
{{/partial}}
{{> base.hbs}}