{{#partial "content"}}
    <body>
    <div class="container">
        <a class="back btn btn-primary" href="/user/"> Back</a>
        <div class="card login-form">
            <div class="card-body">
                <h3 class="card-title text-center">Edit Account</h3>
                <div class="card-text">
                    <form action="/user/edit/" method="post">
                        <!-- to error: add class "has-danger" -->
                        <div class="boxEditUser">
                            <h4>Change Email Address</h4><br>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Enter New Email Address</label>
                                <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" name="email" placeholder="New Email Address" required="required">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Enter Password</label>
                                <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" name="password" required="required">
                            </div>
                            <button type="submit" name="submit" class="btn btn-primary btn-block">Save Changes</button>
                        </div><br><br>
                    </form>
                    <form action="/user/edit/" method="post">
                        <!--password change block-->
                        <div class="boxEditUser">
                            <h4>Change Password</h4><br>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Enter Current Password</label>
                                <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" name="currentPassword" required="required">
                            </div>
                            <div class="form-group">
                                <label for="pass">New Password</label>
                                <input type="password" class="form-control form-control-sm" id="pass" name="newPassword" placeholder="Password must be greater than 8 symbols" required="required">
                            </div>
                            <div class="form-group">
                                <label for="pass">Repeat Password</label>
                                <input type="password" class="form-control form-control-sm" id="pass1" name="confirmPassword" placeholder="Confirm Password" required="required">
                            </div>
                            <button type="submit" name="submit" class="btn btn-primary btn-block">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
{{/partial}}

{{> base.hbs}}
