{{#partial "content"}}

<body>

<div class="container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Reset Password</h3>
            <div class="card-text">
                <form action="/forgot/" method="post">
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" name="email" placeholder="Email address" required="required">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--<div class="forgottenPass">-->
<!--    <div class="container">-->
<!-- {{#if flash_message}}-->
<!--            <p id="flash-message">{{ flash_message }}</p>-->
<!--        {{/if}}-->
<!--    <form action="/forgot/" method="post">-->
<!--		<h2>Reset password</h2>-->
<!--		<p>Enter your email address for a password renewal </p>-->
<!--		<hr>-->
<!--        <div class="form-group">-->
<!--        	<input type="email" class="form-control" name="email" placeholder="Email Address" required="required">-->
<!--        </div>-->

<!--		<div class="form-group">-->
<!--            <button type="submit" class="btn btn-primary btn-block btn-lg">Send</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!--</div>-->
</body>

{{/partial}}

{{> base.hbs}}