{{#partial "content"}}
 <script>
      function copyToClipboard(element) {
          let textarea = document.getElementById(element);
          textarea.select();
          document.execCommand("copy");
      }
</script>
<div class="container">
<a class="back btn btn-primary" href="/admin/"> Back</a><br><br>
{{#if vacationLink}}
<div>
<textarea id="vac" style="width:85%;height:70%" readonly="true">{{vacationLink}}</textarea> <button class="back btn btn-primary" onclick="copyToClipboard('vac')">Copy</button>
</div>
{{/if}}
</div>
{{/partial}}
{{> base.hbs}}