{{#partial "content"}}

    <div class="container">
        <a class="back btn btn-primary" href="/user/"> Back</a>
        <h3 class="card-title text-center">Your Annual leave requests</h3>
        <form action="" method="post">
            <table class="table table-striped">
                <tr>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Days</th>
                    <th scope="col">Action</th>
                </tr>
                {{#each history}}
                    <tr><td>{{this.startDate}}</td> <td>{{this.endDate}}</td> <td>{{this.type}}</td> <td>{{this.status}}</td> <td>{{this.days}}</td> <td><button type="submit" name="cancel" value="{{this.id}}" class="btn-danger btn-sm"><i class="fa fa-times"></i></button></td></tr>
                {{/each}}
            </table>
        </form>
    </div>

{{/partial}}
{{> base.hbs}}