{{#partial "content"}}

    <div class="container">
        <div class="card login-form">
            <div class="card-body">
                <h3 class="card-title text-center">Log in</h3>
                <div class="card-text">
                    <form action="/login/" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input class="form-control form-control-sm" name="username" placeholder="Username" required="required" type="text">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <a href="/forgot/" style="float:right;font-size:12px;">Forgot password?</a>
                            <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>

                        <div class="sign-up">
                            Don't have an account? <a href="/sign-up/">Create One</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{{/partial}}

{{> base.hbs}}