{{#partial "content"}}

<body>
<div class="container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Register</h3>
            <div class="card-text">
                <form action="/sign-up/" method="post">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Username</label>
                        <input type="text" class="form-control form-control-sm" id="exampleInputUsername1" name="username" placeholder="Username must be greater than 4 symbols" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" name="email" placeholder="Email address" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control form-control-sm" name="password" id="exampleInputPassword1" placeholder="Password must be greater than 8 symbols" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Repeat Password</label>
                        <input type="password" class="form-control form-control-sm" name="confirm_password" id="exampleInputPassword1" placeholder="Repeat Password" required="required">
                    </div>
                    <div class="form-group">
                        <label>Select your team:</label>
                        <select name="team" class="form-control" >
                            <option value="1">Developers</option>
                            <option value="2">Accountants</option>
                            <option value="3">QA</option>
                            <option value="4">Manager</option>
                        </select>
                    <button type="submit" class="btn btn-primary btn-block">Register</button><br>
                    <div class="text-center">Already have an account? <a href="/login/">Login here</a></div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--<div class="signup-form">-->

<!--    <form action="/sign-up/" method="post">-->
<!--		<h2>Sign Up</h2>-->
<!--		<p>It's free and only takes a minute.</p>-->
<!--		<hr>-->
<!--        <div class="form-group">-->
<!--        	<input type="text" class="form-control" name="username" placeholder="Username must be greater than 4 symbols" required="required">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--        	<input type="email" class="form-control" name="email" placeholder="Email Address" required="required">-->
<!--        </div>-->
<!--		<div class="form-group">-->
<!--            <input type="password" class="form-control" name="password" placeholder="Password must be greater than 8 symbols" required="required">-->
<!--        </div>-->
<!--		<div class="form-group">-->
<!--            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--        <select name="team" class="form-control" >-->
<!--            <option value="1">Developers</option>-->
<!--            <option value="2">Accountants</option>-->
<!--            <option value="3">QA</option>-->
<!--            <option value="4">Manager</option>-->
<!--          </select>-->
<!--        </div>-->
<!--		<div class="form-group">-->
<!--            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>-->
<!--        </div>-->
<!--		<p class="small text-center">By clicking the Sign Up button, you agree to our <br><a href="/sign-up/terms/">Terms &amp; Conditions</a></p>-->
<!--    </form>-->
<!--	<div class="text-center">Already have an account? <a href="/login/">Login here</a></div>-->
<!--</div>-->
</body>
<!--</html>-->

{{/partial}}

{{> base.hbs}}