{{#partial "content"}}
    {{nothing}}
    <div class="container">
        <a class="back btn btn-primary" href="/user/"> Back</a>
        <h3 class="card-title text-center">Team Schedule</h3>
        <table class="table table-striped">
        <tr>
            <th scope="col">USERNAME</th>
            <th scope="col">FROM</th>
            <th scope="col">TO</th>
        </tr>
        {{#each schedules}}
            <tr> <td>{{this.username}}</td> <td>{{this.startDate}}</td> <td>{{this.endDate}}</td> </tr>
        {{/each}}
        </table>
    </div>

{{/partial}}
{{> base.hbs}}