{{#partial "content"}}
    <html>


    <body>
    <div class="container">
        <div class="card login-form">
            <div class="card-body">
                <h3 class="card-title text-center">Hello, {{username}}!  <a href="/user/edit/" class="btn-sm" ><i class="fa fa-edit" style="font-size:19px" ></i></a></h3>
                <div class="card-text">
                    <div class="center">
                        <a class="request btn btn-primary" href="/user/schedule/">View schedule </a>
                    </div>
                    <form action="/user/" method="post" enctype="multipart/form-data">
                        <div class="box">
                            <p class="display text-center"><strong><b>Your current Annual leave statistics:</b></strong></p>
                            <p class="display text-center"><i> Days remaining : <b>{{available}}</b></i></p>
                            <p class="display text-center"><i> Days used : <b>{{consumed}}</b></i></p>
                        </div>
                        <div class="form-group">
                            <p><b>Select the Annual leave duration you would like to request:</b></p>
                            <label for="from">Start Date</label>
                            <input id="from" name="from" type="text" class="form-control" onblur="func1(this)" onchange="func1(true)"/>
                            <label for="to">End Date</label>
                            <input id="to" name="to" type="text" class="form-control" onblur="func2(this)" onchange="func2(true)"/>
                        </div>
                        <label for="daysDiff" >Total days:</label>
                        <input id="daysDiff" type="text" value="" size="1">
                        <div>
                            <p><b>What type of leave are you requesting?</b></p>
                            <input type="radio" name="type" value="paid">Paid


                            <input type="radio" name="type" value="unpaid">
                            <label for="male">Unpaid</label>

                            <input type="radio" name="type" value="maternity">
                            <label for="maternity">Maternity</label>

                            <input type="radio" name="type" value="paternity">
                            <label for="paternity">Paternity</label>

                            <input type="radio" name="type" value="sick_leave">
                            <label for="paternity">Sick leave</label><br>

                            <input type="file" id="myFile" name="filename">
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <button class="btn btn-primary btn-block" type="submit"> Submit </button>
                        </div>
                    </form>
                    <div class="form-group">
                        <a class="request btn btn-primary" href={{uid}}> Requests </a>
                        <a class="logout btn btn-primary" href="/logout/"> Logout </a>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script id="rendered-js">

        var d1;
        var d2;
        function func1(wasChangeEvent) {
            d1 =  document.getElementById('from').value;
        }

        function func2(wasChangeEvent) {
            d2 = document.getElementById('to').value;
            const date1 = new Date(d1);
            const date2 = new Date(d2);
            const diffTime = Math.abs(date2 - date1);
            var diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)) + 1;

           var iWeeks, iDateDiff, iAdjust = 0;

            if (d2 < d1) return -1;                 // error code if dates transposed

            var iWeekday1 = date1.getDay();                // day of week
            var iWeekday2 = date2.getDay();

            iWeekday1 = (iWeekday1 == 0) ? 7 : iWeekday1;   // change Sunday from 0 to 7
            iWeekday2 = (iWeekday2 == 0) ? 7 : iWeekday2;

            if ((iWeekday1 > 5) && (iWeekday2 > 5)) iAdjust = 1;  // adjustment if both days on weekend

            iWeekday1 = (iWeekday1 > 5) ? 5 : iWeekday1;    // only count weekdays
            iWeekday2 = (iWeekday2 > 5) ? 5 : iWeekday2;

            // calculate differnece in weeks (1000mS * 60sec * 60min * 24hrs * 7 days = 604800000)
            iWeeks = Math.floor((date2.getTime() - date1.getTime()) / 604800000)

            if (iWeekday1 <= iWeekday2) {
            iDateDiff = (iWeeks * 5) + (iWeekday2 - iWeekday1)
            } else {
            iDateDiff = ((iWeeks + 1) * 5) - (iWeekday1 - iWeekday2)
            }

            iDateDiff -= iAdjust                            // take into account both days on weekend

            document.getElementById('daysDiff').value = iDateDiff + 1;
        }

    var bindDateRangeValidation = function (f, s, e) {
        if (!(f instanceof jQuery)) {
            console.log("Not passing a jQuery object");
        }

        var jqForm = f,
            fromId = s,
            toId = e;

        var checkDateRange = function (from, to) {
            var isValid = from != "" && to != "" ? from <= to : true;
            return isValid;
        };

        var bindValidator = function () {
            var bstpValidate = jqForm.data('bootstrapValidator');
            var validateFields = {
                from: {
                    validators: {
                        notEmpty: { message: 'This field is required.' },
                        callback: {
                            message: 'Start Date must less than or equal to End Date.',
                            callback: function (from, validator, $field) {
                                return checkDateRange(from, $('#' + toId).val());
                            } } } },



                to: {
                    validators: {
                        notEmpty: { message: 'This field is required.' },
                        callback: {
                            message: 'End Date must greater than or equal to Start Date.',
                            callback: function (to, validator, $field) {
                                return checkDateRange($('#' + fromId).val(), to);
                            } } } },



                customize: {
                    validators: {
                        customize: { message: 'customize.' } } } };



            if (!bstpValidate) {
                jqForm.bootstrapValidator({
                    excluded: [':disabled'] });

            }

            jqForm.bootstrapValidator('addField', fromId, validateFields.from);
            jqForm.bootstrapValidator('addField', toId, validateFields.to);

        };

        var hookValidatorEvt = function () {
            var dateBlur = function (e, bundleDateId, action) {
                jqForm.bootstrapValidator('revalidateField', e.target.id);
            };

            $('#' + fromId).on("dp.change dp.update blur", function (e) {
                $('#' + toId).data("DateTimePicker").setMinDate(e.date);
                dateBlur(e, toId);
            });

            $('#' + toId).on("dp.change dp.update blur", function (e) {
                $('#' + fromId).data("DateTimePicker").setMaxDate(e.date);
                dateBlur(e, fromId);
            });
        };

        bindValidator();
        hookValidatorEvt();
    };


    $(function () {
        var sd = new Date(),ed = new Date();

        $('#from').datetimepicker({
            minDate: new Date(),
            pickTime: false,
            format: "YYYY/MM/DD",
            defaultDate: sd});


        $('#to').datetimepicker({
            pickTime: false,
            format: "YYYY/MM/DD",
            defaultDate: ed,
            minDate: sd });


        //passing 1.jquery form object, 2.start date dom Id, 3.end date dom Id
        bindDateRangeValidation($("#form"), 'from', 'to');
    });
    //# sourceURL=pen.js

    </script>
    </html>
{{/partial}}
{{#partial "footer"}}

{{/partial}}
{{> base.hbs}}