{{#partial "content"}}
    {{nothing}}
    <div class="container">
        <a class="back btn btn-primary" href="/admin/"> Back</a><br><br>
        <h3 class="card-title text-center">Team Schedule</h3>
        <form action="/admin/schedules/view/" method="post">
        <table class="table table-striped">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Action</th>
        </tr>
        {{#each schedules}}
            <tr><td>{{this.username}}</td> <td>{{this.startDate}}</td> <td>{{this.endDate}}</td> <td><button type="submit" name="scheduleId" value="{{this.id}}" class="btn-danger btn-sm"><i class="fa fa-times"></i></button></td></tr>
        {{/each}}
        </table>
        </form>
<!--    <form action="/admin/schedules/view/" method="post">-->
<!--        <input class="form-control" name="scheduleId" placeholder="Schedule id" type="number" min=1 required-->
<!--               style="width:50%;margin-left:10px;">-->
<!--        <button type="submit"> Submit</button>-->
<!--    </form>-->
    </div>
{{/partial}}
{{> base.hbs}}